* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 50px;
  background-color: rgb(243, 237, 237);
}

#hache-uno {
  font-family: "Courier New", Courier, monospace;
  width: 8%;
  margin-top: 0;
  font-size: 2rem;
}

#encriptador {
  margin-top: 6vh;
  margin-right: 6vw;
  margin-bottom: 1vh;
  width: 45%;
}

textarea {
  width: 100%;
  margin-top: 0;
  margin-bottom: 5vh;
  padding-top: 20px;
  padding-left: 20px;
  line-height: 1.5rem;
  font-family: sans-serif;
  font-size: 1.5rem;
  background-color: rgb(236, 223, 223);
  color: black;
  font-weight: bold;
}

#aviso {
  display: inline-block;
  margin-bottom: 8px;
  font-size: 0.8rem;
}

#encript-btn {
  background-color: blue;
  color: white;
  text-align: center;
  border-radius: 12px;
  padding: 10px 20px;
  border: 1px solid rgb(101, 101, 238);
  margin-right: 6px;
  margin-bottom: 40px;
}

#desencript-btn {
  background-color: white;
  color: blue;
  text-align: center;
  border-radius: 12px;
  padding: 10px 20px;
  border: 1px solid rgb(101, 101, 238);
  margin-bottom: 40px;
}

#copiar-texto {
  background-color: white;
  color: blue;
  text-align: center;
  border-radius: 12px;
  padding: 10px 60px;
  border: 1px solid rgb(101, 101, 238);
}

@media screen and (max-width: 480px) {
  main {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-left: 35px;
  }

  h1 {
    margin-left: -30px;
    color: blue;
  }

  #encriptador {
    width: 80%;
    margin-top: 4vh;
    margin-bottom: 2vh;
    margin-top: 0;
  }

  textarea {
    font-size: 1rem;
  }

  #texto {
    display: block;
    margin: 0 auto;
    margin-bottom: 1vh;
  }

  #botones {
    margin-top: 10px;
  }

  #encript-btn, #desencript-btn, #copiar-texto {
    padding: 4px 8px;
    margin-bottom: 0;
    margin-right: 4px;
    margin-left: 8px;
    text-align: center;
  }

  #div-texto-resultado {
    position: relative;
    height: auto;
    margin-top: -10px;
    margin-bottom: -2vh;
    width: 80%;
  }
}
